body{
    margin: 0px;
    padding: 0px;
    background-image: url(image/backgroundimg2.jpg);
    background-size: cover;
    backdrop-filter: blur(2px);
    background-attachment: fixed;
    min-height: 700px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* TOP BAR OPEN */
.top-bar{
    display: grid;
    grid-template-columns: 25% 25% ;
    color: white;
}

.top-bar .phone-number , .time{
    text-align: center;
    padding: 20px;
}
 /* TOP BAR CLOSE */

 /* NAV BAR OPEN */
.nav-bar{
    display: grid;
    grid-template-columns: 40% 8% 8% 8% 8% 8% 8% 8% ;
    color: white;
    padding: 20px;
    background-color: rgba(100, 0, 0, 0.5);
}
.nav-bar .title{
    text-align: center;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-bar .menu-items{
    padding-top: 8px;

}
/* NAV BAR CLOSE */

/* HOME CONTENT OPEN */
.home-content{
    padding: 150px 70px;
    padding-right: 20px;
}
.home-content .description{
    font-size: 20px;
    color: white;
}

.home-content .title{
    font-size: 25px;
    color: white;
}
.home-content .button-group button{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 20px;
    border: 1px solid yellow;
    border-radius: 10px;
}
/* HOME CONTENT CLOSE */